<div *ngIf="loading" class="loading-container">
  <div class="loading flex column align-center justify-center gap">
    <mat-spinner></mat-spinner>
    <h1>Getting your location...</h1>
  </div>
</div>
<google-map
  width="100%"
  height="100vh"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
  (mapClick)="click($event)"
>
  <div *ngIf="editMode === null">
    <div *ngIf="pointsOfInterest.length > 0">
      <map-marker *ngFor="let poi of pointsOfInterest" [position]="poi.location" [options]="poi.options ?? pointOfInterestOptions" (mapClick)="openInfoWindow(poi)"></map-marker>
    </div>
    <div *ngIf="paths.length > 0">
      <map-polyline *ngFor="let path of paths" [path]="path.segments" [options]="path.options ?? pathOptions" (polylineClick)="openInfoWindow(path, $event)"></map-polyline>
    </div>
    <div *ngIf="boundaries.length > 0">
      <map-polygon *ngFor="let boundary of boundaries" [paths]="boundary.segments" [options]="boundary.options ?? boundaryOptions" (polygonClick)="openInfoWindow(boundary, $event)"></map-polygon>
    </div>
    <map-info-window [options]="infoWindowOptions">
      <h3>{{ infoWindowTitle }}</h3>
      <p>{{ infoWindowContent }}</p>
      <div class="flex gap align-center justify-end">
        <button mat-icon-button (click)="onEditClick(infoWindowTitle)">
          <mat-icon class="material-icons-round" fontIcon="edit"></mat-icon>
        </button>
        <button mat-icon-button (click)="onDeleteClick(infoWindowTitle)">
          <mat-icon class="material-icons-round" fontIcon="delete"></mat-icon>
        </button>
      </div>
    </map-info-window>
  </div>
  <div *ngIf="editMode !== null">
    <div *ngIf="segments.length > 0">
      <map-marker *ngFor="let point of segments" [position]="point" [options]="linePointOptions"></map-marker>
    </div>
    <map-marker *ngIf="point" [position]="point" [options]="pointOfInterestOptions"></map-marker>
    <map-polyline *ngIf="editMode === EditModesEnum.LINE && segments.length > 0" [path]="segments" [options]="pathOptions"></map-polyline>
    <map-polygon *ngIf="editMode !== EditModesEnum.LINE && segments.length > 0" [paths]="segments" [options]="boundaryOptions"></map-polygon>
  </div>
</google-map>

<div class="flex align-center justify-center gap button-menu" draggable="true">
  <button mat-fab (click)="zoomIn()">
    <mat-icon class="material-icons-round" fontIcon="add"></mat-icon>
  </button>
  <button mat-fab (click)="zoomOut()">
    <mat-icon class="material-icons-round" fontIcon="remove"></mat-icon>
  </button>
  <button mat-fab (click)="undo()">
    <mat-icon class="material-icons-round" fontIcon="undo"></mat-icon>
  </button>
  <button mat-fab (click)="toggleMode(EditModesEnum.MARKER)">
    <mat-icon class="material-icons-round" fontIcon="place"></mat-icon>
  </button>
  <button mat-fab (click)="toggleMode(EditModesEnum.LINE)">
    <mat-icon class="material-icons-round" fontIcon="polyline"></mat-icon>
  </button>
  <button mat-fab (click)="toggleMode(EditModesEnum.POLYGON)">
    <mat-icon class="material-icons-round" fontIcon="pentagon"></mat-icon>
  </button>
  <button mat-fab (click)="delete()">
    <mat-icon class="material-icons-round" fontIcon="delete"></mat-icon>
  </button>
</div>

<div *ngIf="editMode !== null" [formGroup]="mapForm" class="form-fields">
  <div class="flex column height-100">
    <div class="flex align-center justify-center">
      <h2 *ngIf="editMode === EditModesEnum.MARKER">Marker Details</h2>
      <h2 *ngIf="editMode === EditModesEnum.LINE">Line Details</h2>
      <h2 *ngIf="editMode === EditModesEnum.POLYGON">Boundary Details</h2>
    </div>
    <div class="flex column overflow-y fields-wrapper">
      <mat-form-field>
        <mat-label>Coordinates</mat-label>
        <input matInput [formControlName]="editMode === EditModesEnum.MARKER ? 'location' : 'segments'" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Color</mat-label>
        <input matInput position="bottom" [nxtColor]="color" [value]="color" (nxtColorChange)="colorChange($event)" />
        <mat-icon matPrefix class="material-icons-round" fontIcon="palette" [style.color]="color"></mat-icon>
      </mat-form-field>
      <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="displayName" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" />
        </mat-form-field>
    </div>
    <div class="flex gap form-btns align-center justify-center">
      <button mat-raised-button (click)="toggleMode(null)">Cancel</button>
      <button mat-raised-button (click)="save()" color="primary">Save</button>
    </div>
  </div>
</div>
