/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

$accent-palette: (
  50: #f6ece5,
  100: #e1d1c7,
  200: #c9b2a6,
  300: #b09483,
  400: #9d7b68,
  500: #89644d,
  600: #7d5a46,
  700: #6d4d3c,
  800: #5e4034,
  900: #4e3329,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$primary-palette: (
  50: #e5f0f7,
  100: #c6d8e1,
  200: #a6bdc9,
  300: #85a2b1,
  400: #6c8d9f,
  500: #537a8d,
  600: #476b7c,
  700: #395766,
  800: #2b4451,
  900: #1b2f3a,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$my-primary: mat.define-palette($primary-palette, 100);
$my-accent: mat.define-palette($accent-palette, 100);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($my-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.grow-1 {
  flex-grow: 1;
}

.grow-0 {
  flex-grow: 0;
}

.gap-half {
  gap: 0.5rem;
}

.gap {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-4 {
  gap: 4rem;
}

.gap-8 {
  gap: 8rem;
}

.width-100 {
  width: 100%;
}

.width-75 {
  width: 75%;
}

.width-60 {
  width: 60%;
}

.width-50 {
  width: 50%;
}

.width-40 {
  width: 40%;
}

.width-33 {
  width: 33%;
}

.width-25 {
  width: 25%;
}

.height-100 {
  height: 100%;
}

.height-50 {
  height: 50%;
}
